.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius: 5px;
    height: 37px;
    background: salmon;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }
  .spn{
    width: 100%;
    text-align: center;
    font-size: small;
    color: salmon;
  }

/*container style*/
.homeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    min-height: 364px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0px 10px #111;
    mix-blend-mode: difference;
    user-select: none;
  }

  .gridContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-height: 364px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0px 10px #111;
    mix-blend-mode: difference;
    user-select: none;
  }

  /*grid style*/
  .MuiDataGrid-root .MuiDataGrid-columnHeaderTitle{
    color: darkgrey;
  }
  .MuiDataGrid-root .MuiDataGrid-cell--textRight {
    color: slategray !important;
  }
  .MuiDataGrid-root .MuiDataGrid-cell--textLeft {
    color: slategray !important;
  }
  .MuiTypography-colorInherit {
    color: seashell !important;
  }
  .MuiSvgIcon-root {
    fill: oldlace !important;;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
  }